# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/

# Large datasets (optional, if you use Git LFS)
*.csv
*.json
*.sql
